h2  {   margin: 50px 0px 30px 5px;
        font-size: 50px;    }

.Media_flex-container
    {   display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        z-index: 9999;
        padding: 100px 100px 100px 100px;
        background-color:lightgray;   }

.Media_flex-item
    {   flex-grow: 1;
        margin-right: 50px;   }

.Media_Size
    {   position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        flex: 1 1 0;
        margin-right: 50px;   }

.Media_Size iframe
    {   position: absolute;
        width: 100%;
        height: 100%;
        border: 1px solid red;   }

article .Text_Size
    {   text-align: center;   }

.Text_Size li
    {   display: inline-block;
        padding: 100px 20px 0px 20px;   }

.Text_Size h3
    {   font-size: 40px;   }

.Text_Size p
    {   font-size: 18px;    }

#card-container li
    {   display: inline-block;   }

.card
    {   border: 10px solid red;
        margin:0px 10px 20px 5px;
        font-family: 'EliceDigitalBaeum_Bold';   }
